<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-attack-upgrade-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,540},{51,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>bg-bankwidget-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,236},{105,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,98}}</string>
                <key>sourceSize</key>
                <string>{105,98}</string>
            </dict>
            <key>bg-bluebevel-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,285},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>bg-bosshealth-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,638},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>bg-currencytotal-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,243},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>bg-dungeonlabel-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,341},{58,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,47}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>bg-evoupgrade-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,493},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>bg-fuse-inset-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,544},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>bg-healthbar-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,114},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bg-hub-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,358}}</string>
                <key>sourceSize</key>
                <string>{172,358}</string>
            </dict>
            <key>bg-ingame-info-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,637},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>bg-invite-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,393},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>bg-options-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{138,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,127}}</string>
                <key>sourceSize</key>
                <string>{138,127}</string>
            </dict>
            <key>bg-owned-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,437},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bg-pack-description-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,634},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>bg-portal-upgrade-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,495},{51,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>bg-portaltimer-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,186},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>bg-reshuffle-amount-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,341},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>bg-reward-frame-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,439},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>bg-rewardframe-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,439},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>bg-rewardvalue-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,591},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>bg-sdungeon-info-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,516},{66,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,37}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>bg-shaded-inset-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,341},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>bg-shuffle-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,243},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>bg-speechbubble-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,127},{144,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,121}}</string>
                <key>sourceSize</key>
                <string>{144,121}</string>
            </dict>
            <key>bg-stats-info-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,439},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>bg-stone-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,459},{105,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,98}}</string>
                <key>sourceSize</key>
                <string>{105,98}</string>
            </dict>
            <key>bg-xpbar-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,393},{53,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,41}}</string>
                <key>sourceSize</key>
                <string>{53,41}</string>
            </dict>
            <key>bg-xplevel-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,212},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>bosshealth-green-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,264},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>bosshealth-red-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,453},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>bosshealth-yellow-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,430},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>button-attack-upgrade-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,114},{59,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,117}}</string>
                <key>sourceSize</key>
                <string>{59,117}</string>
            </dict>
            <key>button-beige-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,602},{89,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>button-blue-01-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,585},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>button-blue-gold-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,497},{107,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,100}}</string>
                <key>sourceSize</key>
                <string>{107,100}</string>
            </dict>
            <key>button-blue-plain-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,95},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>button-blue-silver-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,497},{107,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,100}}</string>
                <key>sourceSize</key>
                <string>{107,100}</string>
            </dict>
            <key>button-brass-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,356},{105,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,98}}</string>
                <key>sourceSize</key>
                <string>{105,98}</string>
            </dict>
            <key>button-brown-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,365},{93,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,127}}</string>
                <key>sourceSize</key>
                <string>{93,127}</string>
            </dict>
            <key>button-evolve-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,562},{113,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,93}}</string>
                <key>sourceSize</key>
                <string>{113,93}</string>
            </dict>
            <key>button-fb-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,253},{125,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,107}}</string>
                <key>sourceSize</key>
                <string>{125,107}</string>
            </dict>
            <key>button-gold-01-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{167,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,120}}</string>
                <key>sourceSize</key>
                <string>{167,120}</string>
            </dict>
            <key>button-gold-plain-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,602},{115,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,78}}</string>
                <key>sourceSize</key>
                <string>{115,78}</string>
            </dict>
            <key>button-gold-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,107},{107,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,100}}</string>
                <key>sourceSize</key>
                <string>{107,100}</string>
            </dict>
            <key>button-grey-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>button-orange-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{125,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,107}}</string>
                <key>sourceSize</key>
                <string>{125,107}</string>
            </dict>
            <key>button-play-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{167,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,120}}</string>
                <key>sourceSize</key>
                <string>{167,120}</string>
            </dict>
            <key>button-portal-upgrade-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,127},{59,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,117}}</string>
                <key>sourceSize</key>
                <string>{59,117}</string>
            </dict>
            <key>button-purple-gold-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{107,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,100}}</string>
                <key>sourceSize</key>
                <string>{107,100}</string>
            </dict>
            <key>button-purple-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,339},{103,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,93}}</string>
                <key>sourceSize</key>
                <string>{103,93}</string>
            </dict>
            <key>button-red-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,253},{105,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,98}}</string>
                <key>sourceSize</key>
                <string>{105,98}</string>
            </dict>
            <key>button-steel-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,236},{105,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,98}}</string>
                <key>sourceSize</key>
                <string>{105,98}</string>
            </dict>
            <key>button-summon-friend-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{95,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,88}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>chapterbackground-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,365},{56,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,123}}</string>
                <key>sourceSize</key>
                <string>{56,123}</string>
            </dict>
            <key>controls-toggle-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,622},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>goldbadge-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,292},{65,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,44}}</string>
                <key>sourceSize</key>
                <string>{65,44}</string>
            </dict>
            <key>healthbar-green-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,238},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>healthbar-red-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,212},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>healthbar-yellow-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,186},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>mask-black-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,393},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nextchapter-bg-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,558},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>xpbar-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,459},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui_02.png</string>
            <key>size</key>
            <string>{690,690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80002ae7ce5cc90b6691e440b446e842:5fe98c3379cc2be9d3bfdc19a30777d2:4de4e8f450acbf4b034bbdf3eedde319$</string>
            <key>textureFileName</key>
            <string>gui_02.png</string>
        </dict>
    </dict>
</plist>
