<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_role_guanyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_role_huangzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{57,1},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_role_jiangwei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{113,1},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_role_zhangfei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{169,1},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_role_zhugeliang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{225,1},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RoleIconAtlas.png</string>
            <key>size</key>
            <string>{280,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e229ac1b016a828b2ba6242b161a0c9:8d30668747e554513209dfcd791b0b60:31957aff0f3899945d79a64ab707650d$</string>
            <key>textureFileName</key>
            <string>RoleIconAtlas.png</string>
        </dict>
    </dict>
</plist>
